{% set sponsors = sponsors() %}
{% if sponsors|length > 0 %}
    <div class="col-12">
        <twig:bs:card header="Sponsoren" statusTop="primary">
            <twig:block name="header">
                <twig:bs:card:header title="Sponsoren" icon="fa6-solid:handshake" class="bg-primary-lt"/>
            </twig:block>
            <twig:block name="body">
                <twig:bs:card:body class="text-center">
                    <div class="row justify-content-center">
                        {% for sponsor in sponsors %}
                            <twig:sponsor
                                    sponsor="{{ sponsor }}"
                                    class="mb-2 d-flex align-items-center justify-content-center"
                                    mainColumn="12"
                                    defaultColumn="6"
                                    mainFilter="sponsor_index_main"
                                    defaultFilter="sponsor_index"
                            />
                        {% endfor %}
                    </div>
                </twig:bs:card:body>
            </twig:block>
        </twig:bs:card>
    </div>
{% endif %}
