{% extends '@page/_layout/layout.html.twig' %}

{% block pageSubBody %}
    <div class="row row-cards">
        <div class="col-12 col-md-9">
            {% block newsContent %}
            {% endblock %}
        </div>
        <div class="col-12 col-md-3">
            <div class="row row-cards">
                {% include '@page/_partials/sponsors.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
