{% extends '@page/_layout/layout.html.twig' %}

{% block pageSubBody %}
    <div class="row row-cards">
        <div class="col-12">
            <div class="row row-cards">
                {% for sponsors in levels %}

                    {% set level = sponsors|first.level %}
                    {% set columns = level.main ? 2 : 4 %}

                    <div class="col-12">
                        <h1 class="text-center border-bottom my-2 pb-2">{{ level.translatable|trans }}</h1>

                        <div class="row row-cols-md-{{ columns }} row-cols-1 justify-content-center">
                            {% for sponsor in sponsors %}
                                <twig:sponsor
                                        sponsor="{{ sponsor }}"
                                        class="col my-md-4 my-2 d-flex align-items-center justify-content-center"
                                        mainFilter="sponsor_main"
                                        defaultFilter="sponsor_page"
                                />
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
