{
	skip_install_trust
	auto_https off

	frankenphp {
	}
}

:80 {
	root * /app/public/
	encode zstd br gzip

	php_server {
	    root /app/public/
        env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
	    worker {
	       file index.php
           env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
	    }
	}
}

# import Caddyfile.d/*.caddyfile
