<header class="navbar navbar-expand-md navbar-dark d-print-none">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal px-0 px-md-2">
            <a href="{{ path('app_index') }}" class="d-flex align-items-center text-decoration-none">
                <img src="{{ asset('build/images/logo.png') }}" width="110" height="32" alt="Tabler" class="navbar-brand-image me-2">
                SV&nbsp;Teutonia
                <span class="d-none d-md-inline">&nbsp;1919</span>
                <span class="d-none d-md-inline">&nbsp;Bochum-</span>Riemke
                <span class="d-none d-md-inline">&nbsp;Handball e.V.</span>
            </a>
        </h1>

        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-none d-md-flex">
                <div class="btn-list">
                    <a href="https://legacy.teutonia-riemke.de/" class="btn btn-secondary" target="_blank" rel="noreferrer">
                        <span class="iconify icon" data-icon="fa6-solid:box-archive"></span>
                        Zur alten Webseite
                    </a>
                    <a href="https://svtr.link/spenden" class="btn btn-primary" target="_blank" rel="noreferrer">
                        <span class="iconify text-pink icon" data-icon="fa6-solid:heart"></span>
                        Spenden
                    </a>
                    {#                    <a href="https://github.com/sponsors/codecalm" class="btn btn-secondary" target="_blank" rel="noreferrer"> #}
                    {#                        <span class="iconify icon" data-icon="fa6-solid:award"></span> #}
                    {#                        Sponsor werden #}
                    {#                    </a> #}
                </div>
            </div>
        </div>
    </div>
</header>

<div class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar navbar-light">
            <div class="container-xl">
                {{ knp_menu_render('main') }}
            </div>
        </div>
    </div>
</div>
