{% extends '_layout/layout.html.twig' %}

{% set pagePreTitle = 'Info' %}
{% set pageTitle = 'Impressum' %}

{% block pageSubBody %}
    <div class="space-y">
        {% if imprint is not empty %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Impressum</h3>
                </div>
                <div class="card-body">
                    {{ imprint|raw }}
                </div>
            </div>
        {% endif %}
    </div>
{%- endblock -%}
