{% extends '@admin/_layout/simple_form.html.twig' %}

{% set pagePreTitle = 'Upload' %}
{% set pageTitle = 'Files' %}
{% set formCancelLink = directory is null ? path('app_admin_files_index') : path('app_admin_files_directory', { directory: directory.id }) %}

{% block pageBody %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Upload</h3>
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
