{% props
    pageTitleActions = null,
    pagePreTitle = null,
    pageTitle = null %}

<twig:Layout:Page:Sidebar/>
<twig:Layout:Page:Navbar/>

<div class="page-wrapper">
    <twig:Layout:Page:Header
        :pagePreTitle="pagePreTitle"
        :pageTitle="pageTitle"
    />

    <twig:block name="pageWrapper">
        <twig:Layout:Page:Body>
            {{ block(outerBlocks.content) }}
        </twig:Layout:Page:Body>
    </twig:block>

    <twig:Layout:Page:Footer/>
</div>
