{% extends '@admin/_layout/layout.html.twig' %}


{% set pagePreTitle = 'Liste' %}
{% set pageTitle = 'Seiten' %}

{% block pageTitleActionsButtons %}
    <twig:crud:create crud="{{ crud }}" />
{% endblock %}

{% block pageBody %}
    <twig:pagination:table title="Artikel">
        <twig:block name="tableHeader">
            <th class="w-1"></th>
            <th class="w-1">Id</th>
            <th>Titel</th>
            <th></th>
        </twig:block>
        <twig:block name="tableRow">
            <twig:crud:row enabled="{{ object.enabled }}">
                <td>{{ object.id }}</td>
                <td>{{ object.title }}</td>
            </twig:crud:row>
        </twig:block>
    </twig:pagination:table>
{% endblock %}
