<h5{{ attributes.defaults({class: 'card-title'}) }}>
    {% block content %}
        {% if icon %}
            <twig:ux:icon class="icon" :name="icon"/>
        {% endif %}
        {{ title }}
    {% endblock %}
</h5>
