{# templates/login/index.html.twig #}
{% extends '@admin/_layout/layout.html.twig' %}

{% block body %}
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>
        </div>
        <form class="card card-md" action="{{ path('app_admin_login') }}" method="post" autocomplete="off">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Login to your account</h2>
                {% if error %}
                    <div class="alert alert-important alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="Enter email" autocomplete="off" name="_username" value="{{ last_username }}">
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Password
                        <span class="form-label-description">
{#                  <a href="./forgot-password.html">I forgot password</a>#}
                </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input type="password" class="form-control" placeholder="Password" autocomplete="off" name="_password">
                    </div>
                </div>
                {#            <div class="mb-2"> #}
                {#                <label class="form-check"> #}
                {#                    <input type="checkbox" class="form-check-input"/> #}
                {#                    <span class="form-check-label">Remember me on this device</span> #}
                {#                </label> #}
                {#            </div> #}
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
