<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
