{% props
    pagePreTitle = null,
    pageTitle = null
%}

{#{% if pagePreTitle is not empty %}#}
    <div class="page-pretitle">
        {{ pagePreTitle }}
    </div>
{#{% endif %}#}

{#{% if pageTitle is not empty %}#}
    <h2 class="page-title">
        {{ pageTitle }}
    </h2>
{#{% endif %}#}
