@import './_variables.scss';
@import '@tabler/core/src/scss/core';

:root {
  --bs-body-bg: #f5f7fb;
}

// fix for icons not shown; see: https://github.com/tabler/tabler/issues/1981
svg {
  max-width: none !important;
}

.hb-embed {
  .hb-embed__title-container,
  .hb-embed__branding,
  .hb-embed__btn-box {
    display: none !important;
  }

  .hb-embed__table {
    margin-bottom: 0 !important;

    thead {
      th {
        border-bottom-color: $border-color !important;
        border-bottom-width: $border-width !important;
      }
    }

    tbody {
      :last-child {
        td {
          border-bottom-width: 0 !important;
        }
      }
    }
  }

  .hb-embed__schedule-list-item-date {
    border-bottom-color: $border-color !important;
    border-bottom-width: $border-width !important;
  }

  .hb-embed__schedule .hb-embed__schedule-list > *:not(:last-child) {
    @extend .mb-2;
  }
}
