@import "@tabler/core/dist/css/tabler.css";

// handball.net css classes
.hb-embed {
  .hb-embed__title-container,
  .hb-embed__branding,
  .hb-embed__btn-box {
    display: none !important;
  }

  .hb-embed__table {
    margin-bottom: 0 !important;

    thead {
      th {
        border-bottom-color: #dee2e6 !important;
      }
    }

    tbody {
      :last-child {
        td {
          border-bottom-width: 0 !important;
        }
      }
    }
  }

  .hb-embed__schedule-list-item-date {
    border-bottom-color: #dee2e6 !important;
  }
}
