{% set classes = this.getDefaultClasses %}
<a{{ attributes.defaults({
    class: this.getDefaultClasses|join(' '),
    href: href
}) }}>
    {% block content %}
        {% if icon is not null %}
            <span class="iconify-inline" data-icon="{{ icon }}"></span>
        {% endif %}
        {% if title is not null %}
            {{ title }}
        {% endif %}
    {% endblock %}
</a>
