{% extends '@page/_layout/layout.html.twig' %}

{% set pagePreTitle = '2023' %}
{% set pageTitle = 'Ruhr Cup' %}

{% block pageSubBody %}
    <div class="alert alert-info">
        In Kürze findet Ihr hier alle Informationen zum Ruhr Cup 2023
    </div>
{% endblock %}
