{% extends '@page/_layout/layout.html.twig' %}

{% set pagePreTitle = '2023' %}
{% set pageTitle = 'Ruhr-Cup' %}

{% block pageSubBody %}
    <div class="row row-cards">
        <div class="col-12">
            <div class="row row-deck">
                <div class="col-12 col-md-8 mb-2 mb-md-0">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Liebe Handballfreunde</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                ...drei Jahre ohne den beliebten Ruhr-Cup haben uns schwer getroffen. <br>
                                Nach der langen Zwangspause möchten wir 2023 mit einem
                                „kleinen“ Ruhr-Cup den Neuanfang starten.
                                Für 2024 peilen wir wieder das gewohnte
                                Format an, also inklusive Übernachtungen,
                                Verpflegungen, Bustransfer u.v.a.m..
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="ribbon ribbon-top bg-primary">
                            <span class="iconify icon" data-icon="fa6-solid:star"></span>
                        </div>
                        <div class="card-status-top bg-primary"></div>
                        <div class="card-header">
                            <h3 class="card-title">Anmeldung</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                Bitte <a href="https://svtr.link/RC23-anmeldung" target="_blank">dieses Formular</a> ausfüllen und per E-Mail senden an: <a href="mailto:ruhrcup@teutonia-riemke.de">ruhrcup@teutonia-riemke.de</a><br>
                                Anmeldeschluss ist der 30. April 2023
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="https://svtr.link/RC23-anmeldung" target="_blank" class="btn btn-primary">Formular öffnen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row row-deck">
                <div class="col-12 col-md-4 mb-2 mb-md-0">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Ablauf</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                Wir spielen in diesem Jahr in verschiedenen Hallen an verschiedenen Tagen wie folgt:<br><br>

                                <b>Samstag</b><br>
                                <ul>
                                    <li>A-Jugend (w/m) Jahrgänge 2005/2006</li>
                                    <li>B-Jugend (w) Jahrgänge 2007/2008</li>
                                    <li>C-Jugend (w) Jahrgänge 2009/2010</li>
                                </ul>

                                <b>Sonntag</b><br>
                                <ul>
                                    <li>D-Jugend (gemischt) Jahrgänge 2011/2012</li>
                                    <li>E-Jugend (gemischt) Jahrgänge 2013/2014</li>
                                </ul>

                                Am Samstag feiern wir unsere Ruhr-Cup-Fete am Clubhaus im Riemker Schrebergarten (Disco, Kletterwand u.a.).
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-2 mb-md-0">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Preismodalitäten</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                Teilnahmegebühr beträgt pro Mannschaft 70,- Euro.<br><br>

                                Die Teilnahmegebühr ist bis zum 30. April 2023 auf unser Konto bei der Sparkasse Bochum, <b>IBAN DE22 4305 0001 0043 3060 26</b>, zu überweisen.<br><br>

                                Bei Absagen nach dem 15. Mai 2023 wird die Teilnahmegebühr <b>nicht</b> erstattet.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Übernachtungsmöglichkeiten</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                Übernachtungsmöglichkeiten stehen nur
                                stark eingeschränkt zur Verfügung. <br><br>
                                Frühstück oder Mittagessen können wir leider nicht anbieten. <br><br>
                                Wir sind jedoch bei der Lösung dieser Probleme behilflich.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
