{% extends '@page/_layout/layout.html.twig' %}

{% set pagePreTitle = '2023' %}
{% set pageTitle = 'Ruhr-Cup' %}

{% block pageSubBody %}
    <div class="row row-cards">
        <div class="col-12">
            <div class="row row-deck">
                <div class="col-12 col-md-8 mb-2 mb-md-0">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Liebe Vereine, Trainer*innen und Eltern,</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                mit großem Bedauern müssen wir euch mitteilen, dass der geplante Ruhr-Cup leider nicht
                                in der gewünschten Form stattfinden kann. Obwohl sich einige Mannschaften in den
                                Jugendklassen angemeldet haben, haben sich leider nicht genügend Teams angemeldet, um
                                ein Turnier durchführen zu können. Somit können wir auch nicht garantieren, dass wir
                                alle entstehenden Kosten problemlos decken können. Wir haben uns daher schweren Herzens
                                dazu entschieden, die Veranstaltung als Turnierform abzusagen und die Vereine, die sich
                                angemeldet haben, bereits kontaktiert.<br><br>

                                Trotz der Absage des Ruhr-Cups möchten wir euch darüber informieren, dass wir weiterhin
                                geplante Aktivitäten als Sommerfest auf unserem Clubhausgelände durchführen werden. Es
                                wird für Speisen und Getränke gesorgt sein und Aktivitäten für die Jugendlichen und
                                Kinder werden ebenfalls auf unserem Gelände und auf der Freizeitanlage am Hausacker
                                stattfinden. Dazu laden wir euch am Samstag den 27.05.23 ab 14 Uhr ein. Wir möchten
                                dieses Sommerfest nutzen, um die vergangene Saison abzuschließen und uns besser
                                kennenzulernen. Es bietet uns auch eine Möglichkeit, mit euch in den Austausch zu gehen,
                                um den Verein weiter voranzubringen und zu besprechen, wie sich einzelne Mitglieder,
                                Eltern, Spieler und Trainer einbringen können. Am Abend ab 21 Uhr wird dann die
                                offizielle Saison-Abschlussfeier eingeläutet.<br><br>

                                Wir bedauern, dass wir den Ruhr-Cup nicht durchführen können, aber hoffen, dass ihr
                                trotzdem an den geplanten Aktivitäten teilnehmen werdet und wir gemeinsam eine tolle
                                Zeit verbringen können. Wir danken euch für eure Unterstützung und euer Verständnis.<br><br>

                                Grün-Weiße Grüße<br><br>

                                TaskForce Ruhr-Cup 2023
                            </div>
                        </div>
                    </div>
                </div>
{#                <div class="col-12 col-md-4">#}
{#                    <div class="card">#}
{#                        <div class="ribbon ribbon-top bg-primary">#}
{#                            <span class="iconify icon" data-icon="fa6-solid:star"></span>#}
{#                        </div>#}
{#                        <div class="card-status-top bg-primary"></div>#}
{#                        <div class="card-header">#}
{#                            <h3 class="card-title">Anmeldung</h3>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <div class="card-text">#}
{#                                Bitte <a href="https://svtr.link/RC23-anmeldung" target="_blank">dieses Formular</a>#}
{#                                ausfüllen und per E-Mail senden an: <a href="mailto:ruhrcup@teutonia-riemke.de">ruhrcup@teutonia-riemke.de</a><br>#}
{#                                Anmeldeschluss ist der 30. April 2023#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="card-footer">#}
{#                            <a href="https://svtr.link/RC23-anmeldung" target="_blank" class="btn btn-primary">Formular#}
{#                                öffnen</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
{#        <div class="col-12">#}
{#            <div class="row row-deck">#}
{#                <div class="col-12 col-md-4 mb-2 mb-md-0">#}
{#                    <div class="card">#}
{#                        <div class="card-header">#}
{#                            <h3 class="card-title">Ablauf</h3>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <div class="card-text">#}
{#                                Wir spielen in diesem Jahr in verschiedenen Hallen an verschiedenen Tagen wie folgt:<br><br>#}

{#                                <b>Samstag</b><br>#}
{#                                <ul>#}
{#                                    <li>A-Jugend (w/m) Jahrgänge 2005/2006</li>#}
{#                                    <li>B-Jugend (w) Jahrgänge 2007/2008</li>#}
{#                                    <li>C-Jugend (w) Jahrgänge 2009/2010</li>#}
{#                                </ul>#}

{#                                <b>Sonntag</b><br>#}
{#                                <ul>#}
{#                                    <li>D-Jugend (gemischt) Jahrgänge 2011/2012</li>#}
{#                                    <li>E-Jugend (gemischt) Jahrgänge 2013/2014</li>#}
{#                                </ul>#}

{#                                Am Samstag feiern wir unsere Ruhr-Cup-Fete am Clubhaus im Riemker Schrebergarten (Disco,#}
{#                                Kletterwand u.a.).#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-12 col-md-4 mb-2 mb-md-0">#}
{#                    <div class="card">#}
{#                        <div class="card-header">#}
{#                            <h3 class="card-title">Preismodalitäten</h3>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <div class="card-text">#}
{#                                Teilnahmegebühr beträgt pro Mannschaft 70,- Euro.<br><br>#}

{#                                Die Teilnahmegebühr ist bis zum 30. April 2023 auf unser Konto bei der Sparkasse Bochum,#}
{#                                <b>IBAN DE22 4305 0001 0043 3060 26</b>, zu überweisen.<br><br>#}

{#                                Bei Absagen nach dem 15. Mai 2023 wird die Teilnahmegebühr <b>nicht</b> erstattet.#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-12 col-md-4">#}
{#                    <div class="card">#}
{#                        <div class="card-header">#}
{#                            <h3 class="card-title">Übernachtungsmöglichkeiten</h3>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <div class="card-text">#}
{#                                Übernachtungsmöglichkeiten stehen nur#}
{#                                stark eingeschränkt zur Verfügung. <br><br>#}
{#                                Frühstück oder Mittagessen können wir leider nicht anbieten. <br><br>#}
{#                                Wir sind jedoch bei der Lösung dieser Probleme behilflich.#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>

{% endblock %}
