{% extends '@page/_layout/layout.html.twig' %}

{% set pagePreTitle = '2024' %}
{% set pageTitle = 'Ruhr-Cup' %}

{% block pageSubBody %}
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Liebe Handballfreunde</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                nach einer vierjährigen Pause ist es endlich so weit – der beliebte Ruhr-Cup erlebt seinen Neuanfang! Wir laden euch herzlich ein, Teil dieses Neustarts zu sein und gemeinsam ein sportliches und geselliges Wochenende zu verbringen.<br><br>
                                Wir freuen uns auf spannende Spiele, tolle gemeinsame Momente und eine unvergessliche Ruhr-Cup-Fete. Bei Fragen oder für weitere Informationen stehen wir euch gerne zur Verfügung.<br>
                                Kontaktiert uns einfach unter der E-Mail-Adresse: <a href="maitlo:ruhrcup@teutonia-riemke.de">ruhrcup@teutonia-riemke.de</a>.<br><br>

                                Lasst uns gemeinsam den Ruhr-Cup 2024 zu einem unvergesslichen Ereignis machen!<br><br>

                                <a href="https://svtr.link/ruhrcup24-info-nl" target="_blank">
                                    <span class="iconify icon" data-icon="flagpack:nl"></span>
                                    Klik hier voor informatie in het Nederlands.
                                    <span class="iconify icon" data-icon="flagpack:nl"></span>
                                </a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="https://svtr.link/anmeldeformular_2024" target="_blank" class="btn btn-primary">Anmeldeformular</a>
                            <a href="https://svtr.link/zusatzleistungen" target="_blank" class="btn btn-secondary">Zusatzleistungen Online</a>
                            <a href="https://svtr.link/ruhrcup-anfrage" target="_blank" class="btn btn-outline-primary">Unverbindliche Anfrage</a>
                            <a href="https://svtr.link/rc24_zusatzleistungen_xls" target="_blank" class="btn btn-secondary-primary">Zusatzleistungen Excel</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row row-deck row-cols-1 row-cols-md-2 gy-3">
                        <div class="col">
                            <div class="card">
                                <div class="ribbon ribbon-top bg-primary">
                                    <span class="iconify icon" data-icon="fa6-solid:star"></span>
                                </div>
                                <div class="card-status-top bg-primary"></div>
                                <div class="card-header">
                                    <h3 class="card-title">Anmeldung</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        Anmeldestart ist der 01.02.24<br>
                                        Anmeldeschluss ist der 31.03.24<br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Übernachtungsmöglichkeiten</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        Übernachtungen sind nur noch im Zeltlager möglich.<br>
                                        Unsere verfügbaren Säle sind ausgebucht!<br><br>
                                        <u>Buchung über Zusatzleistungen</u><br>
                                        <b>Weitere Infos folgen!</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-deck my-3">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Teilnehmer</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="row align-items-center">
                                            {% for image in '^build/images/ruhrcup/teilnehmer'|glob('*') %}
                                                <div class="col-4 col-md-2 text-center mb-3">
                                                    <img src="{{ asset(image.relativePathname) | imagine_filter('optimized', { relative_resize: { widen: 75 } }) }}" title="{{ image.fileName }}">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-deck row-cols-1 row-cols-md-2 gy-3">
                        <div class="col mb-2 mb-md-0">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Ablauf</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        Der Ruhr-Cup findet am 17. - 20. Mai 2024 statt.<br>
                                        Freitag kann angereist werden und Montag dient als Abreisetag.<br>
                                        Gespielt wird in diesem Jahr in 5 verschiedenen Hallen in Bochum am Samstag (18.05.2024) und Sonntag (19.05.2024) wie folgt:<br><br>

                                        <ul>
                                            <li>A-Jugend (w/m) Jahrgänge 2006/2007 an beiden Turniertagen nachmittags</li>
                                            <li>B-Jugend (w/m) Jahrgänge 2008/2009 an beiden Turniertagen nachmittags</li>
                                            <li>C-Jugend (w/m) Jahrgänge 2010/2011 an beiden Turniertagen vormittags</li>
                                            <li>D-Jugend (w/m) Jahrgänge 2012/2013 an beiden Turniertagen vormittags</li>
                                            <li>E-Jugend (gemischt) Jahrgänge 2014/2015 nur Sonntagvormittag</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 mb-md-0">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Preismodalitäten</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        50€ Teilnahmegebühr + 100€ Kaution* <b>pro Mannschaft</b><br><br>

                                        *Die Kaution wird bei Teilnahme am Turnier per Überweisung zurückerstattet.<br>
                                        *Die Kaution wird bei einer Absage bis max. 4 Wochen vor Turnierbeginn zurückerstattet.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Programm</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        Gewohntes Format mit Übernachtungen, Verpflegung, Bustransfer u.v.m.<br>
                                        Ruhr-Cup-Fete am Samstagabend im Clubhaus im Riemker Schrebergarten.<br>
                                        Disco, Kletterwand und weitere Highlights.<br><br>
                                        <b>Weitere Infos folgen!</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Verpflegung</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <p>
                                            Frühstück am Clubhaus (Hauptquartier):<br>
                                        <ul>
                                            <li>Samstag und Sonntag zwischen 6 Uhr und 9 Uhr</li>
                                            <li>Montag zwischen 7 Uhr und 9 Uhr</li>
                                        </ul>
                                        </p>
                                        <p>
                                            Mittagessen in den Hallen von „Trilling Partyservice“ zwischen 12 Uhr und 14 Uhr:<br>
                                        <ul>
                                            <li>
                                                Samstag, 18.05.24:
                                                <ul>
                                                    <li>Spirellis mit Bolognesesauce vom Rind</li>
                                                    <li>Kartoffel-Gemüse-Gratin (vegetarisch)</li>
                                                </ul>
                                            </li>
                                            <li>
                                                Sonntag, 19.05.24:
                                                <ul>
                                                    <li>Hähnchen oder Putengeschnetzeltes mit Spätzlen</li>
                                                    <li>Tortellini mit Käse-Sahnesauce (vegetarisch)</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        </p>
                                        <p>
                                            Abendessen am Clubhaus-Gelände (Hauptquartier)<br>
                                        <ul>
                                            <li>
                                                Samstag und Sonntag ab 18:30 Uhr
                                                <ul>
                                                    <li>Diverse Angebote u.a. Pizza, Würstchen, Snacks, Crêpes u.v.m.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        </p>
                                        <p>
                                            Weitere Verpflegungsmöglichkeiten an der Halle:<br>
                                        <ul>
                                            <li>Softdrinks, Snacks</li>
                                            <li>Kaffee, Kuchen und Brötchen</li>
                                            <li>Salat</li>
                                        </ul>
                                        </p>

                                        <u>Buchung über Zusatzleistungen</u><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Bus-Shuttle</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        2 Linienbusse stehen Samstag und Sonntag zwischen 7 Uhr und 14 Uhr sowie zwischen 15 Uhr und 20 Uhr für den Transfer zwischen den Hallen und dem Hauptquartier zur Verfügung.<br><br>
                                        Ein genauer Fahrplan wird kurz vor Turnierbeginn veröffentlicht!<br><br>
                                        
                                        <u>Buchung über Zusatzleistungen</u><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card">
                <img class="card-img" src="{{ asset('build/images/ruhrcup/ruhr_cup_info_1.jpg') | imagine_filter('optimized', { relative_resize: { widen: 450 } }) }}">
            </div>
            <div class="card">
                <img class="card-img" src="{{ asset('build/images/ruhrcup/ruhr_cup_info_2.jpg') | imagine_filter('optimized', { relative_resize: { widen: 450 } }) }}">
            </div>
        </div>
    </div>
{% endblock %}
